<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Animalerie!{% endblock %}</title>
    <link rel="icon" type="images/png" href="images/favicon.png"/>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# <link rel="stylesheet" href="css/style_clair.css" id="theme-link"> #}
        <link href="{{ asset('css/style_clair.css') }}" rel="stylesheet"/>
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}
    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<header class="d-flex justify-content-between">
    {# public/images/logo.png #}
    <img src="{{ asset('images/logo.png') }}" alt="Symfony!"/>
    <div class="text-center">
        {% if title is defined %}<h1>L' Animalerie | {{ title }}</h1>
        {% else %} <h1>L' Animalerie </h1>
        {% endif %}
    </div>
    <div>   {% if app.user %}
            <div class=\"mb-3\">
                Bonjour {{ app.user.firstname }} {{ app.user.name }}, <a href="{{ path('app_logout') }}" title="LOGOUT">LOGOUT</a>
            </div>
        {% endif %}
        <div>
            <a href="{{ path('app_sav') }}" title="Sav">Sav</a>
            <a href="{{ path('app_contact') }}" title="Contact">Contact</a>
            <a href="{{ path('app_login') }}" title="Login">Login</a>
            <a href="{{ path('app_register') }}" title="Register">Register</a>
        </div>
    </div>
</header>
<body class="container">
{% block body %}
<div class="row">
    <div class="d-flex justify-content-center text-center align-items-center" style="min-height: 500px;">
        {# <p>{{ description }}</p> #}
        <table class="table table-hover">
            <tr>
                <td>
                    <a type="button" class="btn btn-outline-danger btn-lg" href="{{ path('user_display_category') }}"
                       title="retour">Liste catégories accès utilisateur</a>
                </td>
                <td>
                    <a type="button" class="btn btn-outline-danger btn-lg" href="{{ path('display_all') }}"
                       title="retour">Liste catégories accès administrateur</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a type="button" class="btn btn-outline-danger btn-lg" href="{{ path('user_product_all') }}"
                       title="retour">Liste produits accès utilisateur</a>
                </td>
                <td>
                    <a type="button" class="btn btn-outline-danger btn-lg" href="{{ path('product_all') }}"
                       title="retour">Liste produits accès administrateur</a>
                </td>
            </tr>


        </table>
    </div>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    {% endblock %}
</body>
<footer>
    <div class="d-flex justify-content-center text-center">
        <div>
            <a href="{{ path('app_home') }}" title="Home">Home</a>
            <a href="{{ path('app_cgv') }}" title="CGV">CGV</a>
            <a href="{{ path('app_mention') }}" title="Mention">Mention</a>
            <a href="{{ path('app_politique') }}" title="Politique">Politique</a>
        </div>
    </div>
</footer>
</html>
