{% extends 'base.front.html.twig' %}
            {% block products %}
                {% if prod %}
                    <pre>
                        {{ dump(prod) }}
                    </pre>
                    {% for pro in prod %}

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Nouveau badge-->
                                {% set pourcent = 0 %}
                                {% if pro.new %}
                                    <div class="badge bg-danger text-white position-absolute"
                                         style="top: 0.5rem; right: 0.5rem">
                                        Promotion
                                    </div>
                                    {% set pourcent = 0.2 %}
                                {% endif %}
                                <!-- Product image-->
                                <img class="card-img-top img-fluid" style="width: auto; height: 150px;"
                                     src="{{ asset('images/logo/logo_') }}{{ pro.brand.logo }}" alt="Symfony!"/>
                                <div class="card-body p-4">
                                    {% if pro.category.count > 0 %}
                                        <div class="text-center"><strong>Catégorie :</strong></div>
                                        <div class="text-center">{% for cat in pro.category %}
                                                {{ cat.name | lower }}
                                            {% endfor %}</div>
                                    {% endif %}
                                    <div class="text-center">
                                        {% if pro.description %}
                                            <strong> Description : </strong><br>
                                            {{ pro.description }}
                                        {% endif %}
                                        <br>
                                        {{ pro.name | upper }}
                                        <h5 class="fw-bolder">{{ pro.brand.name }}</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            {% if pro.note| round(0,'floor') > 0 %}
                                                {% for i in 1..((pro.note|round(0,'floor'))) %}
                                                    <div class="bi-star-fill"></div>
                                                {% endfor %}
                                            {% endif %}
                                            {% if ((pro.note|round) - pro.note == 0.5) %}
                                                <div class="bi-star-half"></div>
                                            {% endif %}
                                            {% for j in 1..5 %}
                                                {% if j + (pro.note|round(0,'ceil')) <= 5  %}
                                                    <div class="bi-star"></div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- Product price-->
                                        {% if pro.new %}
                                            <span class="text-muted text-decoration-line-through">{{ pro.price }}</span>
                                        {% endif %}
                                        {{ pro.price - (pro.price * pourcent) | number_format(2) }} €
                                        <br>
                                        {{ pro.date | date("d/m/Y - H:i") }}
                                    </div>

                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                            cart</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
